<nav class="navbar navbar-default navbar-static-top" role="navigation">
<div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right uppercase">
    <li><a href=""> Sign Up</a></li>
    <li><a href=""> Log In</a></li>
    <li><a href=""> Enlist</a></li>
  </ul>
</div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-center col-xs-8">
      <div class="panel" id="login_panel">
        <div class="panel-body">
          <button class="btn btn-fb-blue col-xs-12 row-space-1">Sign Up</button>
          <div class="signup-or-separator row-space-3">
            <h5 class="text shift text-special">
              or
            </h5>
            <hr/>
          </div>
          <form class="form-inline" name="login_form" role="form">
            <input class="col-xs-12 row-space-1" id="signin_email" name="email" placeholder="Email Address" type="email" /><input class="col-xs-12 row-space-1" id="signin_password" name="password" ng-model="login.password" placeholder="Password" type="password" /><button class="btn btn-orange col-xs-12" type="submit">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
