$font-family-sans-serif: 'Bariol', sans-serif;

// Base
$border-radius-base: 0;
$body-bg: #f5f5f5;
$text-color: #565a5c;

// Panels
$panel-bg: #fff;

$mb-orange: #f49724;
$fb-blue: #3b5998;

$font-family-price: 'Georgia', serif;
